.n8n/github-app-webhook-to-workflow-dispatch.json
{
  "name": "GitHub App Webhook → Workflow Dispatch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-app-installation",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node",
      "name": "GitHub App Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "github-app-installation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "installation-event",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "installation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-installation-events",
      "name": "Filter Installation Events",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "installation-created",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "repositories-added",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "installation_repositories",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-relevant-actions",
      "name": "Filter Relevant Actions",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_OWNER }}/{{ $env.GITHUB_REPO }}/actions/workflows/sync-to-repos.yaml/dispatches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\"\n}",
        "options": {}
      },
      "id": "trigger-workflow",
      "name": "Trigger Workflow Dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "credentials": {
        "githubApi": {
          "id": "github-pat",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Workflow dispatch triggered\", \"event\": $json.headers['x-github-event'], \"action\": $json.body.action } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "GitHub App Webhook": {
      "main": [
        [
          {
            "node": "Filter Installation Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Installation Events": {
      "main": [
        [
          {
            "node": "Filter Relevant Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Relevant Actions": {
      "main": [
        [
          {
            "node": "Trigger Workflow Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Workflow Dispatch": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-05T12:00:00.000Z",
  "versionId": "1"
}
