.n8n/github-app-webhook-to-workflow-dispatch.json
{
  "name": "GitHub App Webhook → Workflow Dispatch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-app-installation",
        "options": {}
      },
      "id": "webhook-node",
      "name": "GitHub App Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "github-app-installation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "installation-event",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "installation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "installation-repositories-event",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "installation_repositories",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-events",
      "name": "Filter Events",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-created",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "action-added",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "added",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-actions",
      "name": "Filter Actions",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "anthony-spruyt",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "claude-config",
          "mode": "name"
        },
        "workflowId": {
          "__rl": true,
          "mode": "filename",
          "value": "sync-to-repos.yaml"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "name"
        }
      },
      "id": "trigger-workflow",
      "name": "Trigger Workflow Dispatch",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [850, 300],
      "credentials": {
        "githubOAuth2Api": {
          "id": "github-oauth",
          "name": "GitHub OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Workflow dispatch triggered\" } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "GitHub App Webhook": {
      "main": [
        [
          {
            "node": "Filter Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Events": {
      "main": [
        [
          {
            "node": "Filter Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Actions": {
      "main": [
        [
          {
            "node": "Trigger Workflow Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Workflow Dispatch": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-06T00:00:00.000Z",
  "versionId": "9"
}
